.container__big-card{
    
    margin: 0px 20px;
    width: 360px;
    height: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.big-card__title > h1{
    font-size: 25px;
    margin-top: 15px;
}

.big-card__description > p{
    margin-top: 15px;   
}

.big-card__description > p > a{
    color: gray;
    
}

.big-card__picture > img{
    width: 100%;
    min-width: 360px;
}